@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input[type=radio]{
    display: none;
}
input[type=radio]:checked+label{
    color: red;
}
.product-image{
    transition: 1s;

}
.product-image:hover>img{
    transform: translateY(5px);
}
